{%extends 'base.html'%}

{%block title%}
   add list
{%endblock title%}

{%block style%}
        body{
            background-color: LightGoldenRodYellow;
            color: Tomato;
        }

        form{
          text-align: center;
            font-size:30px ;
            padding:5%;
            border-radius: 30px;
        }

        .submit{
            background-color: seagreen;
            font-size: 30px;
            color: tomato;
            border: tomato solid 3px;
            border-radius: 30px;
        }

        .input{
            border: seagreen solid 2px;
            background-color: LightGoldenRodYellow;
            color: tomato;
            text-align: center;
            width: 250px;
            height: 50px;
        }

        textarea{
            border: seagreen solid 2px;
            background-color: LightGoldenRodYellow;
            color: tomato;
            text-align: center;
            width: 250px;
            height: 50px;
        }

        ::placeholder{
            color: tomato;
        }
        .submit{
            box-shadow:2px 2px 4px;
        }

        .submit:hover{
            color:LightGoldenRodYellow;
            transform:translateY(5px);
        }

{%endblock style%}

{%block content%}
<form class="form" action="/add" method="POST" >
    <label for="topic">your topic:</label>
    <input class="input" type="text" name="topic" placeholder="topic" required><br><br>
    <label for="date"> date:</label>
    <input  class="input" type="date" name="date" required><br><br>
    <label for="time">time:</label>
    <input class="input" type="time" name="time" required><br><br>
    <label for="description">your description:</label>
    <textarea  type="text" name="description"  required></textarea>
    <br>  <br>
    <input class="submit" type="submit" value="create">
 </form>
{%endblock content%}